{
  "extends": "airbnb",
  "plugins": [],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-console": ["error", { allow: ["warn", "error", "info"] }],
    "jsx-a11y/img-has-alt": 0
  },
  "globals": {
    "document": true,
    "window": true
  }
}
